@namespace BlazorExpress.ChartJS.Demo.RCL
@inherits BulmaComponentBase

<div>
    <Button Type="ButtonType.Link" Href="@Href">
        <span>API Documentation</span>
        <BootstrapIcon Class="ml-1" Name="BootstrapIconName.BoxArrowUpRight" />
    </Button>
</div>

@code {
    [Parameter]
    public string? Href { get; set; }
}