@namespace BlazroExpress.ChartJS.Demo.RCL
@inherits BulmaComponentBase

<Message Class="@ClassNames" Color="MessageColor.Success">
    <MessageBody>
        <div class="is-size-5 has-text-weight-semibold mb-2"><BootstrapIcon Name="BootstrapIconName.Lightbulb" /> DO YOU KNOW?</div>
        <div>
            This demo website is built using the <strong><a href="//www.nuget.org/packages/blazorexpress.bulma/" target="_blank">BlazorExpress.Bulma</a></strong> library and published on the Azure Web App.
            See our source code on <a href="//github.com/BlazorExpress/BlazorExpress.Bulma" target="_blank">GitHub</a>.
        </div>
    </MessageBody>
</Message>

@code {
    private string githubUrl = default!;
    private string nugetUrl = default!;

    [Inject] public IConfiguration Configuration { get; set; } = default!;

    protected override string ClassNames => 
        BuildClassNames(
            Class, 
            (BulmaCssClass.MarginBottom4, true)
        );

    protected override void OnInitialized()
    {
        githubUrl = $"{Configuration["urls:github"]}";
        nugetUrl = $"{Configuration["urls:nuget"]}";
    }
}