@namespace BlazorExpress.ChartJS.Demo.RCL
@inherits BulmaComponentBase

<Section Class="p-0" Size="HeadingSize.H4" Name="Prerequisites" PageUrl="@PageUrl" Link="prerequisites">
    <Block>
        Refer to the <a href="@RouteConstants.Docs_GettingStarted">getting started guide</a> for setting up charts.
    </Block>
</Section>

@code {
    [Parameter]
    public string? PageUrl { get; set; }
}