@namespace BlazorExpress.ChartJS.Demo.RCL
@inherits BulmaComponentBase

<Section Class="p-0" Size="HeadingSize.H4" Name="Prerequisites" PageUrl="@PageUrl" Link="prerequisites">
    <Block>
        Refer to the <a href="@DemoRouteConstants.Docs_Getting_Started_Prefix">getting started guide</a> for setting up charts.
    </Block>

    <Message Color="MessageColor.Success" ShowDeleteButton="false">
        <MessageBody>
            For data visualization, you can use the predefined palettes <code>ColorUtility.CategoricalTwelveColors</code> for a 12-color palette and <code>ColorUtility.CategoricalSixColors</code> for a 6-color palette.
            These palettes offer a range of distinct and visually appealing colors that can be applied to represent different categories or data elements in your visualizations.
        </MessageBody>
    </Message>
</Section>

@code {
    [Parameter]
    public string? PageUrl { get; set; }
}