.be-bulma-doc-anchor-link {
    font-weight: 400;
    color: rgba(13, 110, 253, 0.5);
    transition: color 0.15s ease-in-out;
    opacity: 0;
    padding-left: 0.125rem;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

    .be-bulma-doc-anchor-link:focus, .be-bulma-doc-anchor-link:hover {
        color: #0d6efd;
        text-decoration: none;
    }

@media (prefers-reduced-motion: reduce) {
    .be-bulma-doc-anchor-link {
        transition: none
    }
}

.be-bulma-doc-anchor-link:focus, .be-bulma-doc-anchor-link:hover {
    color: #0d6efd;
    text-decoration: none
}

:hover > .be-bulma-doc-anchor-link, .be-bulma-doc-anchor-link:focus {
    opacity: 1;
}
