@namespace BlazorExpress.ChartJS.Demo.RCL
@inherits ComponentBase

<SectionHeading Size="HeadingSize.H4" Text="Prerequisites" PageUrl="@PageUrl" HashTagName="prerequisites" />
<div class="mb-3">
    Refer to the <a href="/charts/getting-started">getting started guide</a> for setting up charts.
</div>
